<div class="container">
  <form class="form-signin">
    <h2 class="form-signin-heading">LTI 2 Test Provider</h2>

    <p>Paste this url into your tool consumer to register this tool:</p>
    <p><span class="form-control"><%= tool_registration_url %></span></p>
  </form>
</div>